@import "../../styles/colors.scss";

.documentsProcessingSummary {
  width: 70%;
  padding: 25px;
  background-color: $white;
  margin-left: 25px;
}

.documentsProcessingSummary--Title {
  margin-bottom: 14px;
}

.documentsProcessingSummary--Body {
  display: flex;
}
