.documentsSummary {
  width: 50%;
}

.documentsSummary--Summary span {
  display: block;
}

.documentsSummary--Summary--Div {
  display: flex;
}

.documentsSummary--Summary--MarginBot {
  margin-bottom: 10px;
}

.documentsSummary--Summary--Span--MarginBottom {
  margin-bottom: 16px;
}
