$white: white;
$lightGray: #f6f1f1;
$aliceBlue: #f8fafb;
$gray86: #dbdbdb;
$nightRider: #303030;
$darkGray: #a7a7a7;
$trolleyGray: #808080;
$dimGray: #707070;
$tintGray: #646464;
$veryLightGray: #cecece;
$whisper: #eeeeee;
$mangoTango: #e87600;
$white: #ffffff;
$grey: #777777;
$dimGrey: #6f6f6f;
$black: #000000;
$whiteSmoke: #f5f5f5;
$MangoTango: #e87600;
$darkGrayIcon: #b1b1b1;
$veryLightGrey: #f5f5f5;
$veryLightGreyColor: #f1f1f1;
$veryLightWhiteColor: #f4f6f8;
$red: red;
$charCoal: #4b4747;
$snow: #f9f9f9;
$green: #43a047;
$linen: #fff3e6;
$blackOpacity: rgba(0, 0, 0, 0.5);
$nightRiderOpacity: rgba(48, 48, 48, 0.7);
$dueDateRed: #e84545;
$blueTint: #efeff1;
